extends layout

block content

  h2= 'GET'

  h3= 'GAMES Routes'
  h4= '/api/v1/games'
  p give the list of all the games
  p Header : token

  h4= '/api/v1/games/1'
  p give the result of the game with the id 1
  p Header : token

  h3= 'TABLES Routes'
  h4= '/api/v1/tables'
  p give the list of all the Tables
  p Header : token

  h3= 'CNXTABLE Routes'
  h4= '/api/v1/cnxTable/genToken'
  p generating token qrCode
  p Header : token

  h3= 'USERS Routes'
  h4= '/api/v1/users'
  p give the list of all users
  p Header : token

  h4= '/api/v1/users/1'
  p give the result of the user with the id 1
  p Header : token

  h3= 'ELEVES Routes'
  h4= '/api/v1/eleves'
  p give the list of all students
  p Header : token

  h4= '/api/v1/eleves/1'
  p give the result of the sudient with the id 1
  p Header : token

  h3= 'ECOLE Routes'
  h4= '/api/v1/ecole'
  p give the list of all school
  p Header : token

  h4= '/api/v1/ecole/1'
  p give the result of the school with the id 1
  p Header : token

  h3= 'CLASSE Routes'
  h4= '/api/v1/classe'
  p give the list of classes
  p Header : token

  h3= 'CLASSES APP Routes'
  h4= '/api/v1/classes/ecole'
  p Donne les appartennances entre ecole et classes
  p Header : token

  h4= '/api/v1/classes/eleve'
  p Donne les appartennances entre ecole et classes
  p Header : token

  h4= '/api/v1/classe/profs'
  p Donne les appartennances entre profs et ecole
  p Header : token

  h4= '/api/v1/classe/profs/1'
  p Donne les appartennances entre profs et ecole qui grère la classe a l id 1
  p Header : token
