extends layout

block content
  h1= title
  p Welcome to #{title}
  h2= routes

  h3= '/api/v1/profs'
  p give the list of all profesors

  h3= '/api/v1/profs/1'
  p give the result of the profesor with the id 1

  h3= '/api/v1/eleves'
  p give the list of all students

  h3= '/api/v1/eleves/1'
  p give the result of the sudient with the id 1

  h3= '/api/v1/ecole'
  p give the list of all school

  h3= '/api/v1/ecole/1'
  p give the result of the school with the id 1

  h3= '/api/v1/classe'
  p give the list of classes

  h3= '/api/v1/classes/ecole'
  p Donne les appartennances entre ecole et classes

  h3= '/api/v1/classes/eleve'
  p Donne les appartennances entre ecole et classes
