extends layout

block content
  h1= Dune-API
  p Welcome to DUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUNE
  h2= routes

  p ____________________________________________________________________________

  h3= 'TypeUser'
  h4= '1'
  p Professor

  h4= '2'
  p Director

  p ____________________________________________________________________________
  h3= 'Status codes'
  h4= '500'
  p Error code

  h4= '501'
  p Erreur : Un utilisateur est déjà inscrit avec cet email.

  h4= '200'
  p Success code

  h4= '401'
  p Invalid access code

  p ____________________________________________________________________________

  h3= 'POST'

  h4= '/api/v1/login'
  p Try to login the User
  p Body : email, password

  h4= '/api/v1/login/reset'
  p Try to reset a pwd of an account
  p Body : email

  h4= '/api/v1/users/add'
  p IN DEV (Presque fini, correction erreures + mail)
  p Adding a professor
  p Body : nom, prenom, email, directorId, token

  h4= '/api/v1/users/update'
  p Updatging a professor
  p Body : idProf, nomProf, prenomProf, emailProf, token

  h4= '/api/v1/eleves/add'
  p IN DEV
  p Adding a student
  p Body : nom, prenom, directorId, token

  h4= '/api/v1/eleves/update'
  p IN DEV
  p Updating a student
  p Body : nom, prenom, directorId, token

  h4= '/api/v1/cnxTable/delToken'
  p Deleteting token qrCode
  p Body : token, tokenTable

  h4= '/api/v1/cnxTable/useToken'
  p Deleteting token qrCode
  p Body : token, tokenTable, idProf

  h4= '/api/v1/tables/add'
  p UNDER CONSTRUCTION
  p Adding one new Table
  p body : token

  h4= '/api/v1/tables/update'
  p UNDER CONSTRUCTION
  p Updating one Table
  p body : token, idTable

  h4= '/api/v1/games/add'
  p Adding one new Game
  p body : token, name, creator

  h4= '/api/v1/games/update'
  p Updating one Table
  p body : token, name, creator

  p ____________________________________________________________________________

  h3= 'GET'

  h4= '/api/v1/games'
  p give the list of all the games
  p Header : token

  h4= '/api/v1/games/1'
  p give the result of the game with the id 1
  p Header : token

  h4= '/api/v1/tables'
  p give the list of all the Tables
  p Header : token

  h4= '/api/v1/cnxTable/genToken'
  p generating token qrCode
  p Header : token

  h4= '/api/v1/users'
  p give the list of all users
  p Header : token

  h4= '/api/v1/users/1'
  p give the result of the user with the id 1
  p Header : token

  h4= '/api/v1/eleves'
  p give the list of all students
  p Header : token

  h4= '/api/v1/eleves/1'
  p give the result of the sudient with the id 1
  p Header : token

  h4= '/api/v1/ecole'
  p give the list of all school
  p Header : token

  h4= '/api/v1/ecole/1'
  p give the result of the school with the id 1
  p Header : token

  h4= '/api/v1/classe'
  p give the list of classes
  p Header : token

  h4= '/api/v1/classes/ecole'
  p Donne les appartennances entre ecole et classes
  p Header : token

  h4= '/api/v1/classes/eleve'
  p Donne les appartennances entre ecole et classes
  p Header : token

  h4= '/api/v1/classe/profs'
  p Donne les appartennances entre profs et ecole
  p Header : token

  h4= '/api/v1/classe/profs/1'
  p Donne les appartennances entre profs et ecole qui grère la classe a l id 1
  p Header : token
