extends layout

block content
  h1= Dune-API
  p Welcome to DUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUNE
  h2= routes

  p ____________________________________________________________________________

  h3= 'TypeUser'
  h4= '1'
  p Professor

  h4= '2'
  p Director
